// Font family
$font-family: 'Roboto', sans-serif !default;

// Hero
$hero-mobile--font-size: 32px !default;
$hero-mobile--line-height: 40px !default;
$hero--font-size: 60px !default;
$hero--line-height: 72px !default;

// h1
$h1-mobile--font-size: 28px !default;
$h1-mobile--line-height: 36px !default;
$h1--font-size: 36px !default;
$h1--line-height: 45px !default;

// h2
$h2-mobile--font-size: 26px !default;
$h2-mobile--line-height: 34px !default;
$h2--font-size: 32px !default;
$h2--line-height: 40px !default;

// h3
$h3-mobile--font-size: 26px !default;
$h3-mobile--line-height: 34px !default;
$h3--font-size: 28px !default;
$h3--line-height: 42px !default;

// h4
$h4-mobile--font-size: 24px !default;
$h4-mobile--line-height: 36px !default;
$h4--font-size: 24px !default;
$h4--line-height: 36px !default;

// h5
$h5-mobile--font-size: 22px !default;
$h5-mobile--line-height: 32px !default;
$h5--font-size: 22px !default;
$h5--line-height: 32px !default;

// h6
$h6-mobile--font-size: 18px !default;
$h6-mobile--line-height: 27px !default;
$h6--font-size: 18px !default;
$h6--line-height: 27px !default;

// Text Large
$large-mobile--font-size: 16px !default;
$large-mobile--line-height: 24px !default;
$large--font-size: 16px !default;
$large--line-height: 24px !default;

// Text Medium
$medium-mobile--font-size: 14px !default;
$medium-mobile--line-height: 21px !default;
$medium--font-size: 14px !default;
$medium--line-height: 21px !default;

// Text Small
$small-mobile--font-size: 12px !default;
$small-mobile--line-height: 18px !default;
$small--font-size: 12px !default;
$small--line-height: 18px !default;
