// Colors
$color-primary: #222831; // Theme https://colorsandfonts.com/palettes.html - Echo
$color-secondary: #393e46;
$color-thirdary: #00adb5;
$color-fourthary: #2BCED6;
$color-fifthary: #EEEEEE;

$color-red: #F44708; // Error state
$color-green: #39A386; // Submit button

@import "./kit/tools";